body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,253,244,1) 50%, rgba(88,69,252,1) 100%);
}
.centrado{
    text-align: center;
    border: 2px solid black;
    padding-right: 10px;
}